@font-face {
  font-family: "Orbit-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* 기본설정 */
* {
  font-family: "Orbit-Regular";
}
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
.container {
  width: 1150px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.main-items {
  padding: 2rem 0 3rem 0;
}

.product__release {
  padding: 3rem 0;
  border-top: rgba(34, 34, 34, 0.1) 1px solid;
}
.product__release a {
  text-align: left;
}

.product__TOPBrand {
  padding: 3rem 0;
  border-top: rgba(34, 34, 34, 0.1) 1px solid;
}
.product__MostPopular {
  padding: 3rem 0;
}
