@font-face {
  font-family: "Orbit-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Orbit-Regular";
}
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
.main-banner {
  margin-top: 5rem;
  width: 100%;
  background: #e4e4e4;
  height: 50vh;
  background-size: cover;
  background-position: 30% 30%;
  position: relative;
}
.main-banner .left-arrow {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4MCIgaGVpZ2h0PSI4MCIgZmlsbD0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTUwIDYwIDMwIDQwbDIwLTIwIi8+PC9zdmc+)
    no-repeat center;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  top: 50%;
  height: 64px;
  width: 64px;
}
.main-banner .right-arrow {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4MCIgaGVpZ2h0PSI4MCIgZmlsbD0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0ibTMwIDIwIDIwIDIwLTIwIDIwIi8+PC9zdmc+)
    no-repeat center;
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  top: 50%;
  height: 64px;
  width: 64px;
}
.main-items {
  width: 1150px;
  margin: 2rem auto;
  text-align: center;
  vertical-align: middle;
}
.main-item {
  display: inline-block;
  margin: 1rem 0.5rem 0 0.5rem;
}
.main-item .main-item__box {
  width: 12rem;

  height: 6rem;
  display: block;
  background: #e4e4e4;
  border-radius: 10%;
}
.main-item a {
  color: #111;
  font-size: 0.8rem;
}

.cloths {
  padding: 2rem 0;
  margin: 5rem auto;
  width: 1150px;
  text-align: center;
  vertical-align: middle;
  border-top: rgba(34, 34, 34, 0.1) 1px solid;
}
.cloths a {
  text-align: left;
}
